* {
  margin: 0;
  padding: 0;
}
/* here is main section */
main {
  background-color: #fafaf9;
  width: 80%;
  height: 600px;
  margin: 40px auto;
}
.container {
  padding: 80px 40px;
  display: flex;
  flex: 1;
  gap: 20px;
}
/* here is left side section */
.left {
  width: 100%;
  position: relative;
}

.left ul li {
  list-style: none;
}

.section-title {
  font-size: 2em;
  margin: 15px 0px;
}

.section-description {
  padding-right: 71px;
  line-height: 25px;
  margin: 20px 0px;
}

.icon {
  position: relative;
  top: 6px;
  right: 5px;
}
.page-icon{
  width: 53px;
  position: absolute;
    top: 24px;
    left: 23px;
    background-color: gold;
    border-radius: 100%;
}
.main-icon{
  width: 100px;
}
/* finished left side section */

/* here is right section */
.right {
  width: 100%;
}
.google-icon,
.meta-icon {
  width: 80px;
}
.google,
.meta {
  background-color: #ffffff;
  width: 288px;
  height: 110px;
  margin: 20px 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px #2e2525;
  border-radius: 5px;
}

.google {
  float: right;
}

.meta {
  float: left;
}

.star-icon {
  position: relative;
  bottom: 3px;
  left: 5px;
}

.reviewer {
  margin-bottom: 5px;
}

/* finished right side section */

/* here is media query */

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    padding-top: 20px;
    padding-left: 15px;
  }

  main {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .left {
    margin-left: 30px;
    margin-top: 30px;
  }

  .right {
    margin-top: 80px;
  }
  .google,
  .meta {
    margin: 20px 10px;
  }
}

/* finished media query */
